<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
	<meta charset="UTF-8">
	<title>IS Results Admin Panel</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    
</head>
<body ng-controller="adminController">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="contatainer-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Admin Panel</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Add Subject Details</a></li>
				<li><a href="">Add Results</a></li>

			</ul>
		</div>
	</div>
	<div class="jumbotron">
		<h2 class="jum">IS Results Admin Panel</h2>
		<h3 class="jum">Add Subject Details</h3>
	</div>
	<div class="container">
		<form>
			<div class="radio" >
				<label class="col-md-6"><input type="radio" name="course" ng-value="IS" ng-model="courseType" >Information System</label>
				<label class="col-md-6"><input type="radio" name="course" ng-value="CS" ng-model="courseType" >Conputer Science</label>
			</div>
			<div>
			<table>
				<tr>
					<td><label for="courseId">Course ID :</label></td>
					<td><input type="text" ng-model="courseid" name="courseID"><br></td>
				</tr>
				<tr>
					<td><label for="subject">Subject :</label></td>
					<td><input type="text" ng-model="subject" name="subject"><br></td>
				</tr>
				<tr>
					<td><label for="credit">Credits for subject :</label></td>
					<td><input type="number" ng-model="credit" name="credit"><br></td>
				</tr>
			</table>
			<button type="button" class="btn btn-primary" ng-click="submitSubject()">Submit</button>
			</div>

		</form>
		{{query}}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="/public/javascripts/adminApp.js"></script>
</body>
</html>